SerialPrograms/bin/

.vscode

discord_social_sdk_win/
discord_partner_sdk.dll

# macOS hidden system file
.DS_Store

build-*/
build/

# Qt config file on a user basis
*.pro.user

# all other common C++ ignorables
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
SerialPrograms/*.so
SerialPrograms/*.dylib
SerialPrograms/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
SerialPrograms/*.lai
SerialPrograms/*.la
SerialPrograms/*.a
SerialPrograms/*.lib

# Executables
*.exe
*.out
*.app

.vs
Resources/*
SerialPrograms/CMakeLists.txt.user
opencv_world4110d.dll

# Python cache
__pycache__

# Jupyter Notebooks
*.ipynb

