name: C++ CI Serial Programs

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025, macos-13, ubuntu-24.04]
        compiler: ['default', 'clang']
        qt_version: ['6.9.2']
        include:
          - qt_version: '6.9.2'
            qt_version_major: '6'
            qt_modules: 'qtmultimedia qtserialport'

          - os: 'windows-2025'
            compiler: 'clang'
            cmake_additional_param: '-T ClangCL'

          - os: 'ubuntu-24.04'
            compiler: 'clang'
            cmake_additional_param: '-DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++'

        exclude:
          - os: 'macos-13'
            compiler: 'clang'
            # Excluded because macos default toolset is already clang

    steps:
    - uses: actions/checkout@v4
      with:
        path: Arduino-Source
        submodules: 'recursive'
    - uses: actions/checkout@v4
      with:
        repository: 'PokemonAutomation/Packages'
        path: Packages
    - uses: jurplel/install-qt-action@v4
      with:
        version: ${{ matrix.qt_version }}
        modules: ${{ matrix.qt_modules }}
    - name: Install dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        sudo apt update
        sudo apt upgrade
        sudo apt install libopencv-dev
    - name: Install dependencies
      if: startsWith(matrix.os, 'mac')
      run: |
        brew install opencv onnxruntime
    - name: Generate binaries
      run: |
        cd Arduino-Source/SerialPrograms
        mkdir bin
        cd bin
        cmake .. -DQT_MAJOR:STRING=${{ matrix.qt_version_major }} ${{ matrix.cmake_additional_param }}
        cmake --build . --config Release --parallel 10
    - name: Copy resources
      if: startsWith(matrix.os, 'windows')
      run: |
        robocopy Packages/SerialPrograms/Resources          Output/Resources /s
        robocopy Packages/PABotBase/PABotBase-Switch        Output/PABotBase /s
        robocopy Arduino-Source/SerialPrograms/bin          Output/Binaries *.dll
        robocopy Arduino-Source/SerialPrograms/bin/Release  Output/Binaries SerialPrograms.exe
        echo https://github.com/${{github.repository}}/commit/${{github.sha}} > Output/version.txt
        write-host "Robocopy exited with exit code:" $lastexitcode
        if ($lastexitcode -eq 1)
        {
          exit 0
        }
        else
        {
          exit 1
        }
    - uses: actions/upload-artifact@v4
      if: startsWith(matrix.os, 'windows')
      with:
        name: Serial Programs (os=${{ matrix.os }} - compiler=${{ matrix.compiler }} - qt_version=${{ matrix.qt_version }})
        path: Output
